<div class="chatarea" id="chat1">
	
</div>

{% verbatim %}
<script id="message-template" type="text/x-handlebars-template">
	<div class="msg {{hidden}}">
		<div class="has-author date-msg-container">
			<span class="date-msg">{{date}}</span>
		</div>
	</div>
	<div class="msg">
		<div class="has-author">
			<div class="message-text {{out}}">
				<span><img class="initial-image" data-name="test4" ></span>

				<span dir="ltr" class="selectable-text">
					<span dir="ltr" class="text-msg">{{message}}</span>

					<span dir="ltr" class="message-time">{{time}}</span>
				</span>
			</div>
		</div>
	</div>
</script>
{% endverbatim %}
