<!-- Adding Group -->
	<!-- Currently Adding names but will create a drop down list to add friends -->

	<div class="modal fade" id="addGroupModal" tabindex="-1" role="dialog" aria-labelledby="addGroupModalLabel">
		<div class="modal-dialog" role="document">

			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-labelled="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="addFriendModalLabel">Enter Name of your friend</h4>
					
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group">
							<label class="control-label">Group Name:</label>
							<input type="text" class="form-control" id="group-name">
						</div>
						<div class="form-group">
							<label class="control-label">Members:</label>
							<input type="text" class="form-control" id="groupMembers">
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" id="modalGroupsubmit" class="btn btn-primary" data-dismiss="modal">Add Group</button>
				</div>
				
			</div>
			
		</div>	

	</div>