{% for friend in loggeduser.get_friends %}
	<a href="#" class="friend-detail" id="sample-user-123" data-conversation-history="#sample_history">
		<span class="user-status is-online"></span>
		<em>{{friend.friend.name|title}}</em>

		<span class="badge badge-info">1</span>
		<div class="hidden socket-chat" creator="{{friend.creator.username}}" friend="{{friend.friend.username}}" friend-name="{{friend.friend.name}}" user-name="{{friend.friend.username}}" chat-id="{{friend.room.label}}">{{friend.label}}</div>
	</a>
{% endfor %}
