
	<!-- Adding Friends Modal  -->
	<div class="modal fade" id="addFriendModal" tabindex="-1" role="dialog" aria-labelledby="addFriendModalLabel">
		<div class="modal-dialog" role="document">

			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-labelled="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="addFriendModalLabel">Enter Name of your friend</h4>
					
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group">
							<label class="control-label">Name:</label>
							<input type="text" class="form-control" id="friend-name">
						</div>
					</form>
					<div>
						<label id="searchFriendResult">Sample</label>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" id="modalFriendSearch" class="btn btn-primary" >Search Friend </button>
					<button type="button" id="modalFriendsubmit" class="btn btn-primary" data-dismiss="modal">Add Friend</button>
				</div>
				
			</div>
			
		</div>	

	</div>