<!DOCTYPE html>
<html>
<head>
	<title>uChat</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/static/css/chat/main.css">
	<link rel="stylesheet" type="text/css" href="/static/css/chat/details_section.css">
	<link rel="stylesheet" type="text/css" href="/static/css/chat/chat_section.css">
	<link rel="stylesheet" type="text/css" href="/static/css/chat/bot_section.css">
	<link rel="stylesheet" type="text/css" href="/static/css/chat/searchbar.css">
	<link rel="stylesheet" type="text/css" href="/static/css/chat/message.css">
</head>

<body>
	<div class="page-container">
		<!-- Side Window -->
		<div class="details-container">
			{% include "chat/details_section.html" %}
		</div>

		<!-- Chat Window -->
		<div class="chat-container">
			{% include "chat/chat_section.html" %}
		</div>
		
		<!-- Bot Window -->
		<div class="bot-container">
			{% include "chat/bot_section.html" %}
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<!-- <script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script> -->
	<script type="text/javascript" src="/static/js/chat/initial.js"></script>
	<script type="text/javascript" src="/static/js/chat/typeahead.js"></script>
	<!-- <script type="text/javascript" src="/static/js/chat/main.js"></script> -->
	<script type="text/javascript" src="/static/js/chat/friendModal.js"></script>
	<script type="text/javascript" src="/static/js/chat/loadmoreFriends.js"></script>
	<script type="text/javascript" src="/static/reconnecting-websocket.min.js"></script>
	<!-- <script type="text/javascript" src="/static/js/chat/chat.js"></script> -->


</body>

</html>