html, body {
	height: 100%;
    position: relative;
}

.page-container{
	width: 100%;
    display: table;
    height: 100%;
    table-layout: fixed;
}


.page-container .details-container{
	position: relative;
	display: table-cell;
	vertical-align: top;
	z-index: 5;
	box-sizing: border-box;
	width: 250px;
}

.page-container .chat-container{
	position: relative;
    display: table-cell;
    vertical-align: top;
    z-index: 5;
    /*background-color: red;*/
    height: 100%;
    width: 55%;
}

.page-container .bot-container{
	position: relative;
    display: table-cell;
    vertical-align: top;
    z-index: 5;
    background-color: #303641;
    min-width: 250px;
}

hr {
	margin: 0;
	/*padding-top: 10px;*/
    color: #303641;
}

@media screen and (max-width: 1024px) {
  .page-container .chat-container {
    	width: 512px;
  }
}

@media screen and (max-width: 1024px) {
  .page-container .bot-container {
    	width: 300px;
  }
}
