.msg {
  position: relative;
}

.has-author {
  margin-top: 6px;
}


.msg img {
  width: 31px;
  height: 31px;
  border-radius: 6px;

}

.title-number {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  text-align: left; 
  position: relative;
 
}

.screen-name {
  font-weight: normal;
  color: #999 !important;
  margin-left: 8px;
}

.message-out {
  direction: rtl; 
  font-size: 15px;

}

.date-msg-container {
  text-align: center;
}

.date-msg {
  /*position: relative;*/
  background-color: rgba(225,245,254,0.92);
  /*display: block;*/
  word-wrap: break-word;
  text-shadow: none;
  /*position: relative;*/
  /*white-space: pre-wrap;*/
  line-height: 1.28;
  border-collapse: collapse;
  /*font-size: 12px;*/
  max-width: 70%;
  border-radius: 6px;
  padding: 6px 12px;
  min-width:0px;
  color: #303641;
  font-size: 15px;
  margin: 6px;
  margin-top: 0;
}

.selectable-text{
  position: relative;
  background-color: #eaeaec ;
  display: block;
  word-wrap: break-word;
  text-shadow: none;
  position: relative;
  /*white-space: pre-wrap;*/
  line-height: 1.28;
  border-collapse: collapse;
  /*font-size: 12px;*/
  max-width: 70%;
  border-radius: 6px;
  padding: 6px 12px;
  min-width:0px;
  color: #303641;
  font-size: 15px;
  margin: 6px;
  margin-top: 0;
  /*padding-right: 10px;*/
}

.message-text{
  display: flex;
  overflow: hidden;
  position: relative;

}

.message-time{
  position: absolute;
  /*font-style: italic;*/
  color: #6e727a;
  font-size: 10px;
  display: inline-block;
  bottom: 3px;
  right: 7px;

  /*float: right;*/
}

.text-msg{
  /*padding-right: 10px;*/
  padding-right: 50px;

}

/* @fix Change padding for long messages*/